[Desktop Entry]
Type=Application
Version=1.0
Name=Install Usery OS
Comment=Install Usery OS to your hard drive
Exec=kitty -e sudo archinstall
Icon=utilities-terminal
Terminal=true
Categories=System;Installer;
StartupNotify=true
