[Desktop Entry]
Type=Application
Version=1.0
Name=Install Usery OS
Comment=Install Usery OS to your hard drive
Exec=sudo -E calamares
Icon=calamares
Terminal=false
Categories=System;Installer;
StartupNotify=true
